// header box shadow mixin 
{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
    backdrop-filter: blur(16px);
    background: rgba(255,255,255,.5019607843);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}